* {
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
}

html {
  background-image: url(../img/backgroundPicture.jpg);
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.header {
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.9) -15%, rgba(0, 0, 0, 0.1) 75%), url(../img/newAirplane.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;

  display: block;
  text-align: center;
  padding: 100px;
  line-height: 50px;

  box-shadow: rgba(255, 0, 0, 1);
}

.plane {
  color: rgb(1, 1, 60);
  background-color: rgba(250, 250, 250, 0.3);
  border-radius: 100%;
  padding: 10px;
  margin-bottom: 25px;
  max-height: 64px;
  max-width: 64px;
}

.header h1 {
  font-size: 64px;
  color: rgb(33, 136, 136);
  text-shadow: rgb(22, 80, 80) 1.95px 1.95px 2.6px;
}

.header p {
  font-family: sans-serif;
  color: rgb(255, 255, 255);
  font-size: 24px;
  margin-left: 0px;
  margin-top: 15px;
  background-color: rgba(0, 0, 0, 0);
}

.header .button a,
.fa-caret-right {
  color: white;
}

.button {
  font-family: sans-serif;

  max-width: fit-content;
  margin: 50px auto;
  padding: 10px;
}

.button a:any-link {
  border-bottom-style: dashed;
}

a:any-link {
  font-size: 24px;
  text-decoration: none;
}

a:any-link {
  -webkit-user-drag: none;
}

@keyframes move {
  0% {
    transform: translateX(0);
  }
  25% {
    transform: translateX(2px);
  }
  50% {
    transform: translateX(4px);
  }
  75% {
    transform: translateX(6px);
  }
  100% {
    transform: translateX(8px);
  }
}

.button:hover .fa-caret-right {
  animation: move 0.1s ease forwards;
}

.navbar {
  background-color: rgb(239, 244, 249);
  position: relative;
  height: 25px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  z-index: 10;
}

.navbar.fixed {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
}

.navbar li {
  display: inline;
}

.navbar a:any-link {
  display: inline-block;
  color: black;
  font-size: 16px;
  margin-inline: 10px;
  margin-top: 2px;

  border-bottom-style: none;
}

h2 {
  font-size: 40px;
  text-transform: uppercase;
  font-family: sans-serif;
  font-weight: lighter;

  margin-bottom: 50px;
  margin-left: 50px;
}

p {
  font-size: 24px;
  font-family: sans-serif;
  background-color: rgb(250, 246, 172);

  margin-left: 50px;
  line-height: 30px;
  word-spacing: 5px;
  letter-spacing: 1px;
  text-indent: 50px;
}

.about {
  background-color: rgb(248, 248, 255);
  display: flex;
  padding: 50px;
}

.about p {
  background-color: rgb(248, 248, 255);
}

.about img {
  max-width: 750px;
  max-height: 500px;
  padding: 25px;
  box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
}

.blank {
  display: flex;
  background: radial-gradient(circle, rgba(255, 255, 255, 0.1) 0%, rgba(255, 255, 255, 0.5) 100%);
  height: 100px;
}

.travel {
  background-color: rgb(248, 248, 255);
  padding: 50px;
}

.formulario form {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(198, 198, 233);
  padding-block: 15px;
  border-radius: 15px;

  flex-wrap: wrap;
}

.formulario h3 {
  background: none;
  padding-block: 50px;
  margin: 0;
}

.caixa-formulario {
  padding-inline: 25px;
  text-wrap: nowrap;
}

.caixa-formulario label {
  display: block;
  font-size: 1.125rem;
}

.caixa-formulario input {
  font-size: 1.5rem;
  width: 10vw;
}

.caixa-formulario span {
  margin-left: 5px;
  font-size: 1.5rem;
  position: absolute;
}

input[type="date"]::-webkit-calendar-picker-indicator {
  display: none;
}

input,
textarea {
  background-color: #ffffff;
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 5px;
  color: #333;
}

input:focus,
textarea:focus {
  box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
}

.travel .button .fa-caret-right,
a {
  color: black;
}

.discover {
  background-image: url(../img/backgroundDiscover.png);
  background-repeat: no-repeat;
  background-size: cover;
  padding: 50px;
}

li {
  list-style: none;
}

h3 {
  font-size: 28px;
  text-transform: uppercase;
  font-family: sans-serif;
  font-weight: normal;

  margin-block: 50px;
  margin-left: 50px;

  background: radial-gradient(circle, rgba(255, 255, 255, 0.2) 0%, rgb(43, 44, 114) 100%);
  background-size: 150px 2px;
  background-repeat: no-repeat;
  background-position: left bottom;
}

.discover p {
  padding: 10px;
  padding-top: 40px;
}

.lista {
  display: block;
}

.lista .lista-elemento {
  display: flex;
  padding: 25px;
}

.lista-filtro {
  display: flex;
}

.lista-filtro li {
  padding-inline: 10px;
}

@keyframes zoom-in {
  0% {
    transform: rotate(0deg);
  }
  25% {
    transform: rotate(-1deg);
  }
  50% {
    transform: rotate(-1.5deg);
  }
  75% {
    transform: rotate(-2deg);
  }
  100% {
    transform: rotate(-2.5deg);
  }
}

.esquerda img {
  padding: 25px;
  box-shadow: rgba(0, 0, 0, 0.15) -1.95px 1.95px 2.6px;
}

.direita img {
  padding: 25px;
  box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
}

.zoom-in:hover {
  animation: zoom-in 0.2s ease forwards;
}

.nota {
  position: relative;
}

.nota img {
  height: 52px;
  width: 52px;
  box-shadow: none;
  padding: 0px;

  position: absolute;
  top: 22%;
  left: 50%;
  text-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
}

img {
  -webkit-user-drag: none;
}

.footer__main {
  background-color: rgb(239, 244, 249);
}

.footer__main--column-content {
  padding: 3.125rem;
  display: flex;
}

.footer__main h2 {
  padding: 0;
  margin: 0;

  text-align: center;
  padding: 25px;

  font-size: 1.75rem;
}

.footer__main--message {
  width: 50%;
}

.footer__main--forms {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.footer__main--forms label {
  display: block;
}

.footer__main--forms input,
textarea {
  width: 100%;
  margin-bottom: 15px;
}

.footer__main--forms textarea {
  width: 100%;
  max-width: 100%;

  height: 100px;
  max-height: 100px;
}

.form-group {
  width: 50%;
  display: block;
}

.footer__main--forms .button .fa-caret-right,
a {
  color: black;
  font-size: 1rem;
}

.footer__main--forms .button {
  padding: 0;
  margin: 0;
  margin-bottom: 50px;
}

.linha-vertical {
  top: 0;
  bottom: 0;
  left: 50%;
  width: 1px;
  background-color: black;
  transform: translateX(-50%);
  margin-bottom: 50px;
}

.footer__main--contato {
  width: 50%;
}

.footer__main--endereco {
  display: grid;
  grid-template-columns: min-content 1fr;

  font-family: sans-serif;
}

.footer__main--bloco-1 {
  display: flex;
  flex-direction: column;
  align-items: center;

  margin-bottom: 25px;
}

.footer__main dt {
  font-weight: bold;
  margin: 0px 100px 15px 0px;
}

.footer__main--contato a:any-link {
  text-decoration: dotted underline;
  font-size: 1rem;
}

.footer__main--redes-sociais {
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer__main--redes-sociais li {
  display: flex;
  justify-content: center;
  align-items: center;

  border: 1px solid gray;
  border-radius: 100%;

  font-size: 1.5rem;
  height: 2rem;
  width: 2rem;

  margin: 0px 25px 25px 25px;
}

.footer__main--redes-sociais .fa-github {
  font-size: 1.5rem;
}

.footer__main--copyright {
  text-align: center;
}

.footer__main .footer__main--copyright p {
  padding: 0;
  margin: 0;

  background-color: rgb(203, 207, 210);
  font-size: x-small;
}

.footer__main .footer__main--copyright a {
  font-size: x-small;
}
